# **Python For Beginners**

## **1. Introduction**

**What is Python?**

Python is an easy to understand, general-purpose programming language. It's design philosophy emphasises code readability. Python developed by Guido van Rossum in 1991.

**Advantages og Python?**

- Easy to code
- Improved productivity
- Vast library support
- A lot of career options for you
- Used almost everywhere

**Used companies**

- Google
- Facebook
- Netflix
- and many more

**Python can be used for:**

- AI and Machine Learning(ML)
- Data analytics
- Programming applications
- Web development 
- Game development 
- Many more...

In [ ]:
print("Hello, World!")

## **2. Installations**

Install the python from official website and install it to your machine.

**IDEs**

- Anacoda
- PyCharm
- VS Code
- Google Colabs

## **3. Basic Fundamentals of Python**

**Hello, World in Python**

In [ ]:
print("Hello, World! ")

**Variables**

- Variables are place holders for storing data

Naming a variable

Rules for naming Python variables:

- A variable name must start with a letter or the underscore character
- A variable name can't start with a number
- A variable name can only contain alpha-numeric characters and underscores (A-Z, a-z, 0-9, and _)
- Inbuilt keywords should not be used as identifiers

**`x = 10`** 

- **x** -> Variable name
- **=** -> Assignment operator
- **10** -> Value to be assigned

In [ ]:
a = 10
print(a)

In [ ]:
# 3x = 5 #error

In [ ]:
mihir_11 = 25
print(mihir_11)

In [ ]:
help("keywords")

**Stack & Heap Memory**

**Variables** are store in **Stack** memory:

**Values** are store in **Heap** memory

In [ ]:
x = 5
y = 10

**ID function**

In [ ]:
x = 22
id(x)

In [ ]:
x = 55
print(id(x))

In [ ]:
print(x)

**Python Comments**

In [ ]:
# a is 10 
a = 10
# b = 20 
print(a)
# print(b)

**Data Types in Python**

- Integersn (int)
- Floats
- Booleans
- Strings
- None

***Integer or int***

In [ ]:
# int 
a = 10
print(a)

If you want to see what type of the variable, use `type() `function.

In [ ]:
# type 
a = 20
print(type(a))

***Float***

In [ ]:
# float 
f = 10.55
print(f)
print(type(f))

***Boolean***

In [ ]:
# boolean or bool, True or False 
b = True
print(b)

b1 = False
print(b1)

# correct: True / False 
# incorrect: true / false

***Strings***

In [ ]:
name = "Advaith @101"
print(name)

In [ ]:
s = 'Hello, Python'
print(s)

***Multiple Strings***

In [ ]:
multi_str = """This is a
Multiline String"""

print(multi_str)

m = '''Single multiple string'''
print(m)
print(type(m))

***None***

In [ ]:
n = None
print(n)
print(type(n))

**Input Functions in Python**

In [ ]:
name = input("What is your name? ")

print(f"My name is {name}")

**Type Conversion**

In [ ]:
a = 10
b = float(a) # convert int into float 
print(b)

c = "14"
d = int(c)
print(d)

In [ ]:
# number as input 
x = int(input("Enter a number: "))

print(x)

In [ ]:
# float as input 
y = float(input("Enter a float number: "))
print(y)

## **4. Print Function**

***Printing multiple values***

In [ ]:
print("Emma", "Lisa", "Devid", 24, 34, 45, 78.50, 89.33, 95.12)

***default Sep & End in print***

In [ ]:
print("Emma", "Lisa", "Devid", 24, 34, 45, 78.50, 89.33, 95.12, sep=", ")

In [ ]:
print("Mihir", 25, sep="\n")

***Changing default value of seperator***

In [ ]:
print("Lisa", 24, end=" ")
print("Emma", 25)

In [ ]:
print("Shreya", 30, sep="\n", end=" -> ")
print(31, 32, end=" ")

## **5. Operators in Python**

***Intro to Python Operators***

**Expression**

- Operators
- Operands
  - Operators + Operands = Expression


`x = 10`

`y = 5`

`x + y = 15`

An operator in a programming language is a symbol that to perform specific mathematical, relational or logical operation and produce final result.

In [ ]:
x, y = 5, 10
z = x + y
print(z)

***Arithmetic Operators***

- Addition (+)
- Subtraction (-)
- Multiplication (*)
- Division (/)
- Module (%)
- Floor Division (//)
- To the power (**)

In [ ]:
a = 5
b = 3

print(a + b)

In [ ]:
print(a - b)

In [ ]:
print(a * b)

In [ ]:
# divison always print the float values 
print(a / b)
print(10 / 4)

**String Concatenation**

In [ ]:
first = "Mihir"
last = "Chakma"

print(first + last)

# f string 
print(f"{first} {last}")

In [ ]:
name = "Krishtina"
print(name * 3)

***Arithmetic Operators Continued***

In [ ]:
# module operator 
a = 5
b = 3

print(a % b)
print(10 % 5)
print(10 % 5)

In [ ]:
# floor division operator
# in floor division, the result is floored to the nearest smaller integer
x = 10
y = 5

print(x // y)
print(13 // 3)
print(-5 // 2)

In [ ]:
# To the power operator accepts two values base and power
c = 10
d = 3

print(c ** b)
print(5 ** 4)
print(3 ** 5)

**Comparison Operators**

- `>` (Greater than)
- `<` (Less than)
- `>=` (Greater than or Equal to)
- `<=` (Less than or Equal to)
- `==` (Equal to - True if equal)
- `!=` (Not Equal to - True if not equal)

**Comparison operators can be used to compare values in mathematical terms.**

In [ ]:
# greater than
a = 6
b = 4

print(a > b)
print(5 > 10)

In [ ]:
# less than
print(10 < 5)
print(5 < 10)

In [ ]:
# greaten than or equal to 
print(10 >= 9)
print(5 >= 10)

In [ ]:
# less than or equal to
print(10 <= 5)
print(20 <= 50)

In [ ]:
# equal to 
a = 6
b = 4

print(a == b)
print( 5 == 5)

In [ ]:
# not equal to 
print( a != b)
print(4 != 4)

**Assignmnet Operators**

- =
- +=
- -=
- *= 
- /=

In [ ]:
a = 5

a = a + 5
print(a)

In [ ]:
# a+= 3 is same as a = a + 3

a = 10

a += 3
print(a)

In [ ]:
x = 5
x -= 2

print(x)

**Logical Operators**

- and 
- or 
- not

***Logical `and`***

In [ ]:
# and 
True and True # True
True and False # False
False and True # False
False and False # False

In [ ]:
print(5 > 4 and 5 < 10)
print(4 > 2 and 20 < 5)

***Logical `or`***

In [ ]:
True or True # True
True or False # True
False or True # True
False or False # False

In [ ]:
print(5 > 2 or 3 < 8)
print(5 == 5 or 9 == 9)
print(3 > 5 or 6 < 3)

***Logical `not`***

In [ ]:
not True # False
not False # True

In [ ]:
print(not 10 > 15) # True
print(not 10 > 5) # False

**Special Operators**

- `in` Operator (Membership Operator)
- `is` Operator

**`in`** operator tells you if an object is part of other object or not.

In [ ]:
name = "Krishtina Shree Yadav"

print("Krishtina" in name)
print("krishtina" in name)
print("Vaday" in name)
print("Yadav" in name)

**`is`** operator tells you if both the objects are at the same memory location.

In [ ]:
a = 5
b = 5

print(id(a), id(b))

print(a is b) # True

In [ ]:
c = 10
d = 20

print(id(c), id(d))

print(c is d) # False

## **6. Control Flow**

**if...else statement**

In [ ]:
# age = 20

age = int(input("Enter your age: "))

if age > 18:
    print("You're eligible to drive the car.")
    print("Be carefull when drive the car.")
else:
    print("No, You have to wait until you turn 18.")

**Nested if else statement**

In [ ]:
age = int(input("Enter your age : "))

# check if age is greater than 18
if age >= 18:
    # if age is greater than or equal to 65 
    if age >= 65:
        print("Take rest")
    # if age is less than 65 
    else:
        print("You're eligible.")
        print("Drive slow.")
# else: if age is less than 18 
else:
    print("Wait until turn 18")

**If, elif and else statement**

In [ ]:
number = int(input("Enter a number: "))

if number > 0:
    result = "Positive"
elif number == 0:
    result = "Zero"
else:
    result = "Negative"

print(f"The result is : {result}")

**Challenge: Print the largest**

***Find the maximum in a list***

- Given marks of students in a class. Find topper of the class
- Consider that list is non empty

In [ ]:
marks = [90, 30, 100, 50, 80, 95]

highest = marks[0]
# iterate on the list
for i in marks:
    if i > highest:
        highest = i

print(f"The highest mark is : {highest}")

In [ ]:
marks = [90, 30, 100, 50, 80, 95]

# max() function
print(max(marks))

# min() function 
print(min(marks))

**Challenge: Grading System**

- A : marks equal and above 90 
- B : marks equal to 80 and less than 90
- C : marks equal to 70 and less than 80
- D : marks equal to 60 and less than 70
- S : marks less than or 60

In [ ]:
marks = int(input("Enter your marks : "))

if marks >= 90 and marks <= 100:
    print("Grade A")
elif marks >= 80 and marks < 90:
    print("Grade B")
elif marks >= 70 and marks < 80:
    print("Grade C")
elif marks >= 60 and marks < 70:
    print("Grade D")
elif marks < 60:
    print("Grade S")
else:
    print("Invalid!!")

## **7. Loops in Python**

▶ **Intro to Python Loops**

- While
- For

▶ **While Loops**

- Initializing value
- Loop condition
- Updating value

In [ ]:
# initialization 
i = 1

# condition
while i <= 6:
    print("You are best !!!")
    i += 1 # update

*Print all numbers from 1 to 10 using loop*

In [ ]:
i = 1

while i <= 10:
    print(i)
    i += 1

Print Even numbers in given range

In [ ]:
x = 1

while x <= 10:
    if x % 2 == 0:
        print(x, end=" ")
    x += 1

Print sum of numbers in given range

In [ ]:
i = 0
sum = 0

while i <= 10:
    # print(i, end=" ")
    sum += i
    # print(sum)

    i += 1

print(sum)

▶ **Range Function**

- range() function allows users to generate series of numbers
- It is iterable as well

**Syntax:**

>**`range(start, end, jump)`**

In [ ]:
# here start from 0 and end to 4
list(range(5))

In [ ]:
# default index here is 1 
list(range(1, 5))

In [ ]:
# start is included and end is excluded
list(range(2, 6))

In [ ]:
list(range(1, 10, 2))

In [ ]:
list(range(10, 1, 1))

In [ ]:
list(range(10, 1, -1))

In [ ]:
list(range(-1, 10))

In [ ]:
list(range(10, 0, -2))

**Iterator, Iterable and Iteration(for loop)**

▶ **For Loop in Python**

In [ ]:
# i : iterator
# range() : iterable 
for i in range(1, 11):
    print(i, end=" ")

# and this this whole process is iteration

**Print multiplication table of 5**

In [ ]:
n = int(input("Enter tables: "))
for i in range(1, 11):
    print(i * n)

**Print Pattern - 1**

In [ ]:
n = 4 

# # # #
# # # #
# # # #
# # # #

n = 3 

# # #
# # #
# # #

In [ ]:
for i in range(4):
    print('#', end=" ")
print()

for i in range(4):
    print('#', end=" ")
print()

for i in range(4):
    print('#', end=" ")
print()

for i in range(4):
    print('#', end=" ")
print()

# please note that, this is not a good approch in for loop

***Nested for loop***

In [ ]:
# good approach

for i in range(4):
    for j in range(4):
        print('#', end=' ')
    print()

**Print Pattern - 2**

In [ ]:
n = 4

# 
# #
# # #
# # # #

In [ ]:
n = int(input())

# run for rows 
for i in range(1, n + 1):
    for j in range(i):
        print('#', end=' ')

    # after printing row go to next row 
    print()

In [ ]:
# printing star (*)

n = int(input())

# run for rows 
for i in range(1, n + 1):
    for j in range(i):
        print("*", end=" ")

    # after printing row go to next row 
    print()

**Break, Continue and Pass Statements**

- There statements are used to alter the flow of a program
- **`break`** : Break the flow of program once this condition is hit
- **`continue`** : It skips that particular iteration
- **`pass`** : Using to avoid **Syntax Error**

In [ ]:
# pass 

for i in range(10):
    pass

In [ ]:
# continue

for i in range(1, 10):
    if i == 5:
        continue
    print(i)

In [ ]:
# break

for i in range(10):
    if i == 5:
        break
        
    print(i)

In [ ]:
x = 1

while x < 10:
    if x == 5:
        break
        
    print(x)
    x += 1

## **8. Strings in Python**

**Strings in Python**

- A string is a sequence of characters
- Characters can be : 
  - Alphabets (capital and small letters)
  - Digits (0-9)
  - Whitespaces (Space)
  - Special characters (@, #, $, & ....etc)
- They can be defined using single, double or triple quotes

In [ ]:
"Mihir" == "MihiR"

In [ ]:
s = "Liza"

type(s)

In [ ]:
s1 = """ Multiple strings in python"""

type(s1)

**Ord and Chr in Python**

- ord( ) function

- chr( ) function

In [ ]:
# Bangla : আ 
# Chinese : 我 
# Hindi : आ 
# Emoji : 😊

**ord( ) function**

In [ ]:
# ord() 
ord("A")

In [ ]:
ord("😊")

In [ ]:
ord("আ")

In [ ]:
ord('我')

In [ ]:
ord("😀")

In [ ]:
ord('आ')

**chr() function**

In [ ]:
# chr()
chr(2438)

In [ ]:
chr(25105)

In [ ]:
chr(128512)

In [ ]:
chr(101)

**Indexing in Strings**

In [ ]:
name = "Mihir Chakma"
# in string, indexing start from 0

**Accessing character in String**

In [ ]:
name = "Advaith Chakma"

print(name[2])
print(name[-2])
print(name[0 : 6]) # slicing

**Lenght - `len( ) `function**

In [ ]:
name = "Advaith Chakma"
print(len(name))

In [ ]:
size = len(name)
print(name[-size])
print(size)

**String Slicing**

- `string[starting : end]`
- `string(start : end : jump)` - **optional**

In [ ]:
name = "Mihir Chakma"

print(name[0])
print(name[0:5])

In [ ]:
size = len(name)

name[0:size]
print(name)

In [ ]:
# this will print whole string
name[:]

In [ ]:
print(name[: : 2])

In [ ]:
print(name[: -2])

In [ ]:
print(name[-1 : 0 : -1])

In [ ]:
print(name[: :-1])

In [ ]:
name[-1 : -(len(name) + 1) : -1]

**String Methods in Python**

- capitalize()
- title()
- lower()
- upper()
- find()
- count()
- index()
- replace() 
- split()
- islower()
- isupper()
- isnumeric()
- isalpha()



- [All String Methods from W3Schools](https://www.w3schools.com/python/python_ref_string.asp)

In [ ]:
name = "mihir chakma"

In [ ]:
name.capitalize()

In [ ]:
name.title()

In [ ]:
name.upper()

In [ ]:
name.lower()

In [ ]:
name.find('a')

In [ ]:
name.count("M")

In [ ]:
name.index("c")

In [ ]:
name.replace("m", "M")

In [ ]:
name.split()

In [ ]:
name.split("i")

In [ ]:
name = "Mihir"

In [ ]:
name.isupper()

In [ ]:
"M".isupper()

In [ ]:
name.islower()

In [ ]:
"mihir".islower()

In [ ]:
"24".isnumeric()

In [ ]:
"24K".isnumeric()

In [ ]:
name.isalpha()

In [ ]:
"Mihir Chakma".isalpha()

**String Formatting**

In [ ]:
name = "Mihir"
age = 25

print("my name is", name, "I'm", age,"years old.")

# not good in formatting but this is useful sometimes

In [ ]:
name = "Mihir"
age = 24

print("My name is {}, I'm {} years old.".format(name, age))

# not good as f string but useful

In [ ]:
# more advanced f string 
name = "Advaith"
age = 25

print(f"My name is {name}, I'm {age} years old.")

# good approch when using string format in python

**String Concatenation**

In [ ]:
first_name = input("Fist name : ")
last_name = input("Last name : ")

print(first_name + last_name) # concatenation

In [ ]:
print("4" + "K")
print("35" + "45")
print("A" * 3) # print a 3 times

In [ ]:
# you can not concate with string and numbers and other data types together, it will print error 
# print(35 + "35") # error 

# you can't multiply with str and str 
# print("Mihir" * "Chakma") # error 

# but you can this 
print("Mihir" * 3)

**Challenge : Print Vowels**

- Print all vowels of a given string

In [ ]:
text = " The quick brown fox jumps over the lazy dog"

for i in text:
    if i == "a" or i == "e" or i == "i" or i == "o" or i == "u":
        print(i)

**Challenge : Check Palindrome**

> Find if a string is palindrome


- A string is said to be palindrome if the reverse of string is the same as string.
- For example : "radar", "civic", "level" is a pallindrome, but "radix", "read" is not a palindrome.

In [ ]:
s = input("Write a word: ")

# reverse is : s[::-1], using string slicing
if s == s[::-1]:
    result = "Yes"
else:
    result = "No"

print(result)

## **9. List**

**Introduction to Data Structures in Python**

A data structure is a specialized format for **Organizing**, **Processing**, **Retrieving** and **Storing** data.

There are 4 basic data structures in Python.

- Lists
- Tuples
- Dictionary
- Sets

In [ ]:
# want to store data more efficiently?

In [ ]:
name1 = "Mihir"
name2 = "Advaith"
name3 = "Kevin"
name4 = "Emma"
name5 = "Kristhina"

**Introduction to Lists in Python**

**Lists:**

- Ordered collection of data
- Lists are mutable type 0f Data Structure
- It can contain multiple type of Data
- Lists are changeable (Mutable)
- Lists are iterable 


To convert into a list use `list() `function

In [ ]:
# creating a list 
items = list()
print(type(items))

In [ ]:
num = [1, 2, 3, 4, 5, 6]
print(num)

In [ ]:
print(len(num))

In [ ]:
# list accessing 
print(num[0])
print(num[4])
print(num[-1])
print(num[-len(num)])

In [ ]:
# mutability
print(id(num))

num[0] = 9 # change the value 1 to 9 
print(num)

print(id(num))

In [ ]:
# list iterable 
num1 = [10, 20, 30, 40, 50, 60]

for i in num1:
    print(i)

**List Slicing**

In [ ]:
l = [1, 3, 5, 7, 9, 11]

print(len(l))

In [ ]:
# slicing 

print(l[0:3])

print(l[::-1])

In [ ]:
print(l[5:0:-1])

**List Operations**


**List inbuilt Methods**

- append()
- clear()
- copy()
- count()
- extend()
- index()
- insert()
- pop()
- remove()
- reverse()
- sort()


- [Lists Methods in Python](https://www.w3schools.com/python/python_ref_list.asp)

In [ ]:
budget = [100, 150, 200, 300, 100]

In [ ]:
# count() : Returns the number of elements with the specified value 
budget.count(100)

In [ ]:
budget.count(500)

In [ ]:
# index() : Returns the index of the first element with the specified value 

budget

In [ ]:
budget.index(300)

In [ ]:
name = ["Harry", "Emma", "Ronnie", "Draco"]

In [ ]:
name.index("Emma")

In [ ]:
# pop() : Removes the last element and returns of the list

In [ ]:
name = ["Mihir", "Emma", "Harry", "Ronnie"]

In [ ]:
drop = name.pop()

print(drop)

In [ ]:
name = ["Mihir", "Emma", "Harry", "Ronnie"]

In [ ]:
# remove() : Removes the first item with the specified value

name.remove("Harry")

print(name)

In [ ]:
# sort() : Sorts the list

ls = [200, 400, 100, 300, 500]

ls.sort()

print(ls)

In [ ]:
# insert(): Adds an element at the specified position

name = ["Mihir", "Harry"]

name.insert(1, "Emma")

print(name)

name.insert(3, "Ronnie")

print(name)

**Append & Extend in Lists**

In [ ]:
# append() function 
l = [1, 2, 3, 4, 5]

In [ ]:
l.append(6)
l.append(7)
l.append(8)
l.append("Mihir")
l.append("Advaith")

In [ ]:
print(l)

In [ ]:
a = [10, 20, 30]

In [ ]:
l.append(a)

In [ ]:
print(l)

In [ ]:
# extend() function
l2 = [1, 2, 3, 4, 5]

In [ ]:
l3 = [6, 7, 8, 9, 10]

In [ ]:
l2.extend(l3)

print(l2)

In [ ]:
s = "Mihir"

for i in s:
    print(i)

In [ ]:
l2.extend(s)

print(l2)

**Heterogenous Lists**

In [ ]:
items = [5, "Lisa", 1.5, True, 53j]

In [ ]:
type(items)

In [ ]:
print(type(items[0]))
print(type(items[1]))
print(type(items[2]))
print(type(items[3]))
print(type(items[4])) # complex

In [ ]:
for i in items:
    print(i)

**2-D Lists**

In [ ]:
l1 = [1, 2, 3]
l2 = [4, 5, 6]
l3 = [7, 8, 9]

lists = [l1, l2, l3]

In [ ]:
print(lists)

In [ ]:
# indexing 
print(lists[0])
print(lists[1])
print(lists[2])

In [ ]:
lists

In [ ]:
lists[0][1]

In [ ]:
lists[1][2]

In [ ]:
lists[2][0]

**Iteration in 2D List**

In [ ]:
lists

In [ ]:
for i in lists:
    print(i)

In [ ]:
l1

In [ ]:
for i in l1:
    print(i)

In [ ]:
lists

In [ ]:
for i in lists:
    for j in lists:
        print(j)

**List Comprehension**

In [ ]:
for i in range(10):
    print(i)

In [ ]:
for i in range(10):
    print(i ** 2)

In [ ]:
items = []

for i in range(10):
    items.append(i)
print(items)

In [ ]:
items = []

for i in range(10):
    items.append(i ** 2)
print(items)

In [ ]:
items = [i for i in range(10)]

print(items)

In [ ]:
items = [i ** 2 for i in range(10)]

print(items)

**Challenge : Print Largest**

**Find maximum in a list**

- Given marks of students in a class. Find topper of the class
- Consider that list is non empty

In [ ]:
marks = [90, 30, 100, 20, 70, 50]

In [ ]:
# iterate on the list 
highest = marks[0]
for i in marks:
    if i > highest:
        highest = i
print(highest)

In [ ]:
# maximum: max() function 
max(marks)

In [ ]:
# minimum: min() function 
min(marks)

**Challenge : Find total population**

- given a list of population sensus done by GOV. You need to find the total population
- each element in the list represents total members in a family
- ls = [4, 6, 5, 8, 9, 3, 2, 4, 5, 4, 3, 2, 3, 4]

In [ ]:
# access all the elements of this list 
ls = [4, 6, 5, 8, 9, 3, 2, 4, 5, 4, 3, 2, 3, 4]

population = 0

for i in ls:
    # sum them all 
    population += i
print(population)

In [ ]:
# sum() function 
ls = [4, 6, 5, 8, 9, 3, 2, 4, 5, 4, 3, 2, 3, 4]

sum(ls)

## **10. Tuples**

**Intro to Tuples in Python**

- Like list tuples are ordered collection of data
- Unchangeable (Immutable)
- Iterable 
- Can have heterogenous

In [ ]:
planets = ["Mercury", "Venus", "Earth", "Mars", "Jupiter", "Saturn", "Uranus", "Neptune", "Pluto", "Ceres"] # list

In [ ]:
planet = ("Mercury", "Venus", "Earth", "Mars", "Jupiter", "Saturn", "Uranus", "Neptune", "Pluto", "Ceres") # tuple

In [ ]:
type(planet)

In [ ]:
# indexing

planet[3]

In [ ]:
# slicing

planet[1:4]

In [ ]:
# change values

# planet[2] = "Eris" # error, you can't change the tuple values

In [ ]:
t = ("Advaith", 5.5, 10.3, True)

In [ ]:
type(t)

**Creating a Tuple**

In [ ]:
# creating empty tuple

In [ ]:
t = ()

print(type(t))

In [ ]:
# tuple() function

t1 = tuple()
print(t1)

In [ ]:
print(t, t1)

In [ ]:
# Non empty tuple

In [ ]:
t2 = (2)
type(t2)

In [ ]:
 # don't forget when creating a tuple make sure use the , (comma) symbol 
t3 = (2,) 
type(t3)

In [ ]:
print(t3)

In [ ]:
t4 = tuple("Mihir")

print(t4)
print(type(t4))

In [ ]:
t = (10, 20, 30)

print(t)
print(len(t))

In [ ]:
# list inside the tuple
t = ([1, 2, 3], [4, 5, 6])
print(len(t))
print(type(t))
print(t)

In [ ]:
t[0]

In [ ]:
type(t[0])

**Mutability in tuples**

In [ ]:
t = (1, 2, 3, 4)

In [ ]:
# t[0] = 45 # error

In [ ]:
# tuples are immutable 
# lists are mutable

In [ ]:
t = ([1, 2, 3], "Advaith")

In [ ]:
type(t)

In [ ]:
type(t[0])

In [ ]:
t[0][0] = 45

In [ ]:
print(t)

In [ ]:
type(t)

**Tuple unpacking**

In [ ]:
a = 4
b = 5
c = 8

print(a, b, c)

In [ ]:
a, b, c = 4, 5, 8 # multiple variables 
print(a, b, c)

In [ ]:
t = (1, 2, 3, 4) 

a, b, c, d = t # assign t to the variables 

print(a, b, c, d)

# This process is known as unpacking

**Tuple operations**

In [ ]:
# count

In [ ]:
t = (1, 2, 3, 4, 1)

In [ ]:
type(t)

In [ ]:
t.count(1)

In [ ]:
t.count(45)

In [ ]:
# index

In [ ]:
t.index(3)

In [ ]:
# iteration

In [ ]:
t = (1, 2, 3, 4)

In [ ]:
len(t)

In [ ]:
for i in t:
    print(i)

In [ ]:
for i in t:
    print(i ** 2)

In [ ]:
# concatenation

In [ ]:
t = (1, 2, 3, 4)

In [ ]:
t1 = (5, 6, 7)

In [ ]:
t2 = t + t1

In [ ]:
print(t2)

In [ ]:
t2 * 2

In [ ]:
# tuple to list and list to tuple

In [ ]:
t = (1, 2, 3)

In [ ]:
lst = list(t) # convert tuple to list

In [ ]:
type(lst)

In [ ]:
print(lst)

In [ ]:
t = tuple(lst) # convert list to tuple

In [ ]:
print(t)

In [ ]:
type(t)

## **11. Dictionary**

**Introduction to Dictionary**

**Dictionary :**

- Dictionary has key value pair form of data
- Dictionaries are ordered (Python 3.7 and above versions)
- Does not support indexing
- Data can be accessed using key

**Creating Dictionary**

In [ ]:
d = {}
print(type(d))
print(d)

In [ ]:
d = dict()
print(type(d))
print(d)

In [ ]:
# creating non empty dictionary

In [ ]:
fruits = {
    "apple" : 100,
    "mango" : 120,
    "cherry" : 50
}

In [ ]:
type(fruits)

In [ ]:
print(fruits)

In [ ]:
# zip() function

In [ ]:
name = ["Apple", "Mango", "Bananas"]
price = [120, 100, 140]

In [ ]:
fruit = dict(zip(name, price))

print(fruit)

In [ ]:
len(fruit)

**Accessing Data in Dictionary**

**Accessing Elements**

- Dictionaries does not support indexing

In [ ]:
# using key

In [ ]:
fruits = {
    "Apple" : 100,
    "Mango" :120,
    "Oranges" : 140
}

In [ ]:
fruits['Apple']

In [ ]:
fruits["Mango"]

In [ ]:
fruits["Oranges"]

In [ ]:
# fruits["Guava"] # error

In [ ]:
# get() method : To avoid errors

In [ ]:
fruits

In [ ]:
fruits.get("Apple")

In [ ]:
fruits.get("Guava")

In [ ]:
fruits.get("Guava", "Not Available")

In [ ]:
fruits.get("Guava", 404)

**Updating a Dictionary**

- Using key
- Update

In [ ]:
fruits = {
    "apple" : 120,
    "mango" :100,
    "pineapple" : 90
}

In [ ]:
# updating existing value

In [ ]:
print(fruits)

In [ ]:
fruits["pineapple"] = {"small" : 90, "large" : 100}

In [ ]:
print(fruits)

In [ ]:
print(fruits["pineapple"])

**Updating with new value in  Dict**

In [ ]:
fruits["Guava"] = 80 # new value 

fruits

In [ ]:
# update multiple values 

new = {"Grapes" : 130, "Oranges" : 70, "Cherry" : 200}

In [ ]:
# update() function 

fruits.update(new)

In [ ]:
fruits

**Deletion Operations in Dictionary**

**Deleting Data**

- pop()
- popitem()
- del

In [ ]:
fruits = {
    "apple" : 120,
    "mango" : 130,
    "pineapple" : 140
}

In [ ]:
fruits

In [ ]:
# Citizenship check

In [ ]:
"apple" in fruits

In [ ]:
"cherry" in fruits

In [ ]:
# dict.pop(key)

In [ ]:
fruits

In [ ]:
fruits.pop("apple") # remove apple

In [ ]:
fruits

In [ ]:
# dict.popitem()

In [ ]:
fruits = {
    "apple" : 120,
    "mango" : 130,
    "pineapple" : 140
}

In [ ]:
fruits

In [ ]:
fruits.popitem()

In [ ]:
fruits

In [ ]:
fruits.popitem()

In [ ]:
fruits

In [ ]:
# del object

In [ ]:
fruits = {
    "apple" : 120,
    "mango" : 130,
    "pineapple" : 140
}

In [ ]:
fruits

In [ ]:
del fruits

In [ ]:
# fruits

**Iteration in Dictionary**

In [ ]:
fruits = {
    "apple" : 120,
    "mango" : 130,
    "pineapple" : 140,
    "grapes" : 110
}

In [ ]:
for i in fruits:
    print(i)

In [ ]:
fruits["apple"]

In [ ]:
for i in fruits:
    print(i, fruits[i])

In [ ]:
# using dict.items() method

In [ ]:
for key, value in fruits.items():
    print(key, value)

In [ ]:
fruits.items()

**More Dictionary Methods**

- keys()
- values()
- items()
- copy()
- pop()
- popitem()
- update()
- clear()
- get()
- setdefault()

[More Dict Methods](https://www.w3schools.com/python/python_ref_dictionary.asp)

In [ ]:
fruits = {
    "apple" : 100,
    "mango" : 120,
    "cherry" : 130
}

In [ ]:
fruits.keys()

In [ ]:
fruits.values()

In [ ]:
fruits.items()

In [ ]:
f = fruits.copy()

In [ ]:
f

In [ ]:
fruits

**Challenge : Find frequency of Characters in a String**

Take an input and find the freq of each letter and return the letter and their freq 

- ex: Mihir Chakma
- "M" : 2
- "i" : 2
- "H" : 2
- "r" : 1
- "C" : 1
- "a" : 2
- "k" : 1

In [ ]:
name = input("Type a name here : ")

# create a empty dict 
freq = {}

for i in name:
    # check for presence 
    if i not in freq:
        freq[i] = 1
    # if present increment the freq by factor of 1 
    else:
        freq[i] += 1

print(freq)

## **12. Sets**

**Introduction to Sets in Python**

- Unique collection
- Unordered 
- Unindexed 
- Mutable

In [ ]:
lst = [1, 2, 3, 4, 1]

In [ ]:
lst

**Creating a Set**

- set()
- set(iterable)

In [ ]:
# empty set

In [ ]:
s = {}
print(s)
type(s)

In [ ]:
s = set()
# s = set({1, 2, 3, 3 , 2})
print(s)
type(s)

In [ ]:
# non empty set

In [ ]:
s = {1, 2, 3, 4, 5, 1, 3, 2, 4}

print(s)

In [ ]:
s = set("Mihir")
print(s)

**Iteration**

In [ ]:
s = set("Mihir")
print(s)
type(s)

In [ ]:
for i in s:
    print(i)

**Update & Delete Operations**

- add() : For single element
- update() - (iterable)

In [ ]:
s = {1, 2, 3, 4, 5, 6}

print(s)

In [ ]:
s.add(7)
s.add(8)
s.add(9)
s.add(10)

In [ ]:
print(s)

In [ ]:
# Update

In [ ]:
s

In [ ]:
name = "Mihir"

In [ ]:
s.update(name)

In [ ]:
print(s)

**Deleting an element**

- pop() : remove random element, we are not sure what it is
- remove(element) : remove partcular element

In [ ]:
print(s)

In [ ]:
s.pop()

In [ ]:
print(s)

In [ ]:
s.remove('M')

In [ ]:
print(s)

In [ ]:
a = s.pop()

In [ ]:
print(a)

In [ ]:
print(s)

**Intersection**

- Suppose Scaler has two courses available for students: Python and Java
- You want to find out which students are enrolled in both the Python and Java courses. Then you can use the **Intersection** method.

In [ ]:
# We are taking names instead of unique IDs for ease of understanding

In [ ]:
python = {"Lisa", "Peter", "Devid", "Emma", "Anna", "Kevin"}
java = {"Anna", "Kevin", "Kavindya", "Nishani", "Lisa", "Devid"}

In [ ]:
python.intersection(java)

In [ ]:
java.intersection(python)

**Union**

- Suppose you want to find out which students are enrolled in either the Python or the Java course or in both. 
- Then you can use the **union()** method.

In [ ]:
python = {"Lisa", "Peter", "Devid", "Emma", "Anna", "Kevin", "Elisa"}
java = {"Anna", "Kevin", "Kavindya", "Nishani", "Lisa", "Devid", "Alen"}

In [ ]:
python.union(java)

**Defference**

- Suppose you want to find out the set of students who have enrolled in the Python course but not in Java course or Vice-versa.
- Then we can use the **difference()** method.

In [ ]:
python = {"Lisa", "Peter", "Devid", "Emma", "Anna", "Kevin", "Elisa"}
java = {"Anna", "Kevin", "Kavindya", "Nishani", "Lisa", "Devid", "Alen"}

In [ ]:
python.difference(java)

In [ ]:
java.difference(python)

**Challenge : Find Unique Words**

- count number of unique elements in a sentence

- sent = "be the change you wish to see in the world"

In [ ]:
sent = "be the change you wish to see in the world"

# unique word list 
lst = sent.split()

# convert into set 
s = set(lst)

print(len(s))

## **13. Functions**

▶ **Functions Introduction**

Function is a User Defined piece of code. It works only when it's called by User. It helps in Reusability of code and helps in reducing errors in your code. Examples: print, range, len etc.

- Helps in reusability of code
- Make code manageable and organized

⚫ **Functions are two types in Python:**

  - User Defined Functions
  - Built-in Functions

In [ ]:
def myfunc():
    pass

▶ **Defining a Function**

In [ ]:
# defining a function

def greet():
    # this is the body of the function
    print("Hi, Hava a good day!!")


# call the function
greet()

▶ **Docstrings**

In [ ]:
def greet():
    """
    This function greets everyone when it's called.
    """
    print("Hi, Hava a good day!!")

greet()

In [ ]:
greet?

▶ **Parameter & Arguments**

- These are place holders in the function
- When defining them we call them as **Parameters**
- When passing the actual value we call them as **Arguments**

In [ ]:
def greet(name):
    print("Hi, how are you ?", name)

greet("Mihir") # arguments 
greet("Emma")
greet("Lisa")

# name is the parameter and names value are the arguments

In [ ]:
def add(a, b):
    c = a + b
    print(c)
    # print(a, b)

add(4, 6)

▶ **Return**

- A function call ends when return statement is executed
- It returns the expression back to the function
- The code after return statement are not executed 
- If there is not return value then function returns None

In [ ]:
def add(a, b):
    c = a + b
    print(c)

add(3, 6)

In [ ]:
a = add(3, 5)

In [ ]:
a

In [ ]:
type(a)

In [ ]:
def add(a, b):
    c = a + b
    return c

d = add(10, 20)
print(d)
print(type(d))

In [ ]:
# if no return object then it returns Nonetype

def func():
    return

a = func()
print(a, type(a))

In [ ]:
# code after return statement doesn't get executed 

def myfun():
    print("Before the return")
    return "Mihir Chakma"
    print("After the return")

myfun()

In [ ]:
a = myfun()

In [ ]:
print(a)

▶ **Returning Multiple Values**

In [ ]:
def intro(name, age, hobby):
    return name, age, hobby

a, b, c = intro("Mihir", 25, "Singing")
print(a, b, c)

In [ ]:
c = intro("Mihir", 25, "Singing")

print(c , type(c))

▶ **Scope of a Variable**

- There are two scope of a Variable : Global and Local
- Global Variable can be used anywhere in a program
- Local Variable can only used locally inside a program (function)

In [ ]:
# Global variable
# a can be used anywhere in the program
a = 10

def myfun():
    print(a)

myfun()
print(a)

In [ ]:
# local variable 
b = 5

def myfun():
    # x is a local variable to this function 
    x = 10
    print(x)

myfun()
print(b)
# print(x) # error

In [ ]:
# global and local variables together 

a = 5

def addme():
    a = 20
    print(a)

fun()
print(a)

In [ ]:
# change global value 

a = 5

def func():
    global a
    a = 40
    print(a)

print(a)
func()
print(a)

▶ **Lambda Function**

- There are mainly used when we need nameless functions for short period of time

Syntax:

> lambda arguments : expression

In [ ]:
def add(a, b):
    return a + b

add(4, 6)

In [ ]:
(lambda a, b : a + b) (5, 10)

In [ ]:
func = lambda a, b : a * b

# func = 10 * 5

print(func)
print(func(20, 2))
print(func(20, 3))

In [ ]:
def larger(a, b):
    if a > b:
        return a
    else:
        return b

print(larger(45, 5))
print(larger(30, 80))

In [ ]:
(lambda x , y : x if x > y else y) (40, 20)

In [ ]:
# using lambda function
large = lambda a , b : a if a > b else b

print(large(10, 20))

In [ ]:
# tuples in list

lst = [(12, 45), (3, 6), (10, 8)]

lst.sort()

print(lst)

In [ ]:
lst = [(12, 45), (5, 3), (8, 2), (65, 30)]

def k(x):
    return x[1]

lst.sort(key = k)

print(lst)

In [ ]:
# using lambda function 

lst = [(12, 45), (5, 3), (8, 2), (65, 30)]

lst.sort(key = lambda x : x[1])

print(lst)

▶ **Challenge : Print Even Numbers**

Write a Python function to print the even numbers from a given list

- input = [1, 2, 4, 3, 5, 6]
- output = 2 4 6

In [ ]:
def even(item):
    # iterate on the list item 
    for i in item:
        # check for even elements 
        if i % 2 == 0:
            print(i, end=" ")

lst = [1, 2, 4, 3, 5, 6, 7]

even(lst)

▶ **Challenge : Return List with Unique Numbers**

Write a Python function that takes a list and returns a new list with unique elements of the first list 

- input = [1, 2, 3, 1, 2, 4]
- output = [1, 2, 3, 4]

In [ ]:
lists = [1, 2, 3, 1, 2, 4]

# new = [] 

def unique(l):

    new = []

    # iterate on the l list 
    for i in l:
        # we are adding only unique elements in new list 
        if i not in new:
            new.append(i)
    
    # return new list 
    return new

unique(lists)

In [ ]:
lst = [1, 2, 3, 4]

12 not in lst

▶ **Arguments vs Parameters in Functions**

- Parameters : The value we pass while defining a function
- Arguments : The actual value of we pass when calling a function

In [ ]:
# This "name" variable is known as parameter 

def func(name):
    print("Hi, my name is", name)


# calling the function
# in the function value is know as argument

func("Mihir Chakma")

▶ **Positional Arguments**

- The value you pass when calling a function are matched according to their positions

In [ ]:
def intro(name, age):
    print(f"My name is {name}.")
    print(f"I'm {age} years old.")

intro("Advaith", 25)
intro("Mihir", 26)

▶ **Default Arguments**

- Giving default values to the parameters 
- For these parameters passing value in arguments is optional

In [ ]:
def intro(name, hobby = "Reading"):
    print(f"My name is {name}.")
    print(f"My hobby is {hobby}.")


intro("Mihir")

intro("Advaith", "Drawing")

▶ **Default follows non-default**

In [ ]:
def profile(name, age = 25, hobby):
    print("Name : ", name)
    print("Age : ", age)
    print("Hobby : ", hobby)

In [ ]:
def profile(name, age = 25, hobby = "Driving"):
    print("Name : ", name)
    print("Age : ", age)
    print("Hobby : ", hobby)

profile("Mihir")

▶ **Arbitrary Arguments**

- When number of values you want to pass is not known
- Like we pass multiple values in print function
- The values are being stored in tuple

In [ ]:
def test(*args):
    print(args)
    print(type(args))

    # iterate and print
    for i in args:
        print(i, end=" ")


test(1, 2, 3, 4, 5, 6)

**Keyword Arguments**

- Variable number of keyword arguments
- It stores the data in Dictionary format

In [ ]:
def intro( **kwargs):
    # print(kwargs)
    # print(type(kwargs))

    for key, value in kwargs.items():
        print(key, value, sep=" : ")


intro(name = "Advaith", age = 25, hobbies = ["Drawing, Swimming", "Read"])

In [ ]:
def mix(a, b, c, age = 25, *args, **kwargs):
    print(a, b, c)
    print(age)
    print(args)
    print(kwargs)


mix(5, 6, 7, 30, 10, 20, 30, 40, name = 'Advaith', hobby = 'Coding')

In [ ]:
# wrong way (error)

# def myfunc(**kwargs, *args):
#     print(kwargs)
#     print(args)

In [ ]:
# right way 

def myfunc(*args, **kwargs):
    print(args)
    print(kwargs)

## **14. OOP in Python**

▶ **Introduction OOP in Python**

- Object Oriented Programming
- The principles of OOP are based on 4 pillars apart from Class and Objects
- A Class has attributes and behaviour

[Python OOP Concepts](https://www.edureka.co/blog/object-oriented-programming-python/)

◾**Abstraction** 

- Abstraction means displaying only essential information and hiding the details.
- Example: Car will accelerate but internal working of engine not exposed


◾ **Encapsulation**

- Binding up of data in a single class (unit).
- Binding of all methods that can act on an Object of that data
- Car can have colors, brake, engine and a lot of other methods


◾**Inheritance**

- When a class derives from another class
- Any new car company can inherit all the information from car class


◾**Polymorphism**

- The word "Polymorphism" means having many forms.
- Same class method can work differently for different Objects

▶ **Class & Object in Python**

**Creating Classes**

- It's a blueprint to create Objects
- The **`class`** keyword is used to create classes
- Generally in convention we start name with capital letter
- Examples: int, float, string etc..

In [ ]:
class Car:
    pass

In [ ]:
class Human:
    pass

**Objects**

- Objects are instances or entities of a class
- It has all the properties of it's Class
- eg: 1, 2 are Objects of int Class

In [ ]:
# creating an object of Human class 
advaith = Human()

In [ ]:
# creating an object of Car class
mazda = Car()

In [ ]:
type(mazda)

In [ ]:
type(10)

In [ ]:
type("Advaith")

▶ **Class Constructor**

- A constructor is a special method used to create and initialize an Object of a Class
- This method is defined in the Class
- The constructor is executed automatically at the time of Object creation

In [ ]:
class Human():
    # i want some properties to be with every Human objects
    # Dunder __ 

    # constructor 
    def __init__(self):
        print("This will always execute.")

In [ ]:
advaith = Human()

In [ ]:
mihir = Human()

In [ ]:
print(advaith)

In [ ]:
type(advaith)

In [ ]:
class Human():
    def __init__(self, name, age, hobby):
        self.name = name
        self.age = age
        self.hobby = hobby

In [ ]:
advaith = Human("Advaith", 25, "Reading")

In [ ]:
mihir = Human("Mihir", 25, "Coding")

In [ ]:
print(advaith)

In [ ]:
advaith.name

In [ ]:
mihir.name

▶ **Class Methods**

- Apart from special methods you can make your custom methods
- Example: Humans can speak, greet, play etc..

In [ ]:
class Human:

    # constructor
    def __init__(self, name, age, hobby) -> None:
        # Thses are known as attributes of an object 
        self.name = name
        self.age = age
        self.hobby = hobby

    # methods 
    def greet(self):
        print(f"Hi, My name is {self.name}. Good Morning!")
        print(f'I\'m {self.age} years old.')



# create an object and call the class 
advaith = Human("Advaith", 25, "Coding")

In [ ]:
advaith.nationality = "Canadian"

In [ ]:
advaith.greet()

In [ ]:
advaith.name

In [ ]:
advaith.nationality

In [ ]:
pawani = Human("Pawani", 22, "Cooking")

In [ ]:
pawani.greet()

In [ ]:
# pawani.nationality # error

In [ ]:
pawani.hobby = "Social Services"

In [ ]:
pawani.hobby

In [ ]:
advaith.hobby

▶ **Class Variables**

- Thses are common to the class
- Example" Population of Human class is common to all objects

In [ ]:
class Human:

    # class variables 
    population = 0
    data = []

    # constructor 
    def __init__(self, name, age):
        # Thsese are known as attributes of an object
        self.name = name
        self.age = age

        # increment population for every new Human object
        Human.population += 1
        Human.data.append(self.name)


    # methods 
    def greet(self):
        print(f"Hi, I'm {self.name}, Good Morning!!!")

In [ ]:
advaith = Human("Advaith", 25)

In [ ]:
advaith.name

In [ ]:
advaith.population

In [ ]:
Human.population

In [ ]:
pawani = Human("Pawani", 22)

In [ ]:
Human.population

In [ ]:
Human.data

▶ **Adding more methods in Class**

In [ ]:
class Human:

    # class variable 
    population = 0
    data = []

    # constructor 
    def __init__(self, name, age, alive = True):
        # Thsese are known as attributes of an object
        self.name = name
        self.age = age
        self.alive = alive

        # increment population for every new Human object
        Human.population += 1
        Human.data.append(self.name)


    # methods 
    def greet(self):
        print(f"Hi, I'm {self.name}, Good Morning!!!")


    def dead(self):
        if self.alive:
            print(self.name, "is no more now.")
            Human.population -= 1
            self.alive = False
        else:
            print("This person is already dead.")

    
    def child(self, number):
        Human.population += number

In [ ]:
h1 = Human("H1", 70)
h2 = Human("H2", 50)
h3 = Human("H3", 95)
h4 = Human("H4", 100)

In [ ]:
Human.population

In [ ]:
h1.dead()
h4.dead()

In [ ]:
Human.population

In [ ]:
h5 = Human("Adam", 28)

In [ ]:
Human.population

In [ ]:
h5.child(2)

In [ ]:
Human.population

▶ **Inheritance Introduction**

- When a class derives every attributes and methods from other class
- It gets access to all its methods and attributes
- This helps in reusability of codes

▶ **Inheritance Code**

In [ ]:
class Human:

    # class variable 
    population = 0
    data = []

    # constructor 
    def __init__(self, name, age, alive = True):
        # Thsese are known as attributes of an object
        self.name = name
        self.age = age
        self.alive = alive

        # increment population for every new Human object
        Human.population += 1
        Human.data.append(self.name)


    # methods 
    def greet(self):
        print(f"Hi, I'm {self.name}, Good Morning!!!")


    def dead(self):
        if self.alive:
            print(self.name, "is no more now.")
            Human.population -= 1
            self.alive = False
        else:
            print("This person is already dead.")

    
    def child(self, number):
        Human.population += number

In [ ]:
mihir = Human("Mihir", 25)
advaith = Human("Advaith", 26)

In [ ]:
Human.population

In [ ]:
# Inheritance

In [ ]:
class Employee(Human):
    pass

In [ ]:
emp1 = Employee("Mark", 37)

In [ ]:
emp1.greet()

In [ ]:
Human.population

In [ ]:
Human.data

In [ ]:
emp1.age

▶ **Adding Attributes in Derived Class**

In [ ]:
class Human:

    # class variable 
    population = 0
    data = []

    # constructor 
    def __init__(self, name, age, alive = True):
        # Thsese are known as attributes of an object
        self.name = name
        self.age = age
        self.alive = alive

        # increment population for every new Human object
        Human.population += 1
        Human.data.append(self.name)


    # methods 
    def greet(self):
        print(f"Hi, I'm {self.name}, Good Morning!!!")


    def dead(self):
        if self.alive:
            print(self.name, "is no more now.")
            Human.population -= 1
            self.alive = False
        else:
            print("This person is already dead.")

    
    def child(self, number):
        Human.population += number

In [ ]:
# Inheritance:
# Human is Base class
# Employee is Derived class

In [ ]:
class Employee(Human):
    # re-initiate constructor
    def __init__(self, name, age, company, post):
        super().__init__(name, age)

        # attributes for employee class
        self.company = company
        self.post = post

In [ ]:
mihir = Human("Mihir", 25)
advaith = Human("Advaith", 26)

In [ ]:
Human.population

In [ ]:
emma = Employee("Emma", 24, "Google", "Software Engineer")

In [ ]:
Human.population

In [ ]:
emma.greet()

In [ ]:
emma.company

In [ ]:
emma.post

▶ **Adding Methods in Derived Class**

In [ ]:
class Human:

    # class variable 
    population = 0
    data = []

    # constructor 
    def __init__(self, name, age, alive = True):
        # Thsese are known as attributes of an object
        self.name = name
        self.age = age
        self.alive = alive

        # increment population for every new Human object
        Human.population += 1
        Human.data.append(self.name)


    # methods 
    def greet(self):
        print(f"Hi, I'm {self.name}, Good Morning!!!")


    def dead(self):
        if self.alive:
            print(self.name, "is no more now.")
            Human.population -= 1
            self.alive = False
        else:
            print("This person is already dead.")

    
    def child(self, number):
        Human.population += number

In [ ]:
# Inheritance:
# Human is Base class
# Employee is Derived class

class Employee(Human):
    # re-initiate constructor
    def __init__(self, name, age, company, post):
        super().__init__(name, age)

        # attributes for employee class
        self.company = company
        self.post = post 

    # add some attributes
    def hire(self, person):
        print(f"{person} has been hired in our company")
        Human.data.append(person)
        Human.population += 1

In [ ]:
# Human class instance objects 
mihir = Human("Mihir", 25)
advaith = Human("Advaith", 26)

In [ ]:
# Employee class instance objects 
emma = Employee("Emma", 24, "Google", "Software Engineer")
pawani = Employee("Pawani", 22, "Facebook", "Data Analyst")

In [ ]:
pawani.greet()

In [ ]:
pawani.hire("Nisa")

In [ ]:
Human.data

In [ ]:
Human.population

In [ ]:
emp1 = Employee("Employee1", 34, "Uber", "Web Developer")

In [ ]:
Human.population

In [ ]:
emp1.dead()

In [ ]:
Human.population

In [ ]:
emp1.dead()

▶ **Polymorphism in Python**

- The word "Polymorphism" means having many forms
- Same class method can work differently for different objects

▶ **Operator Level Polymorphism**

- Same operator can work differently for different objects

In [ ]:
a = 10
b = 5

In [ ]:
a + b # adding

In [ ]:
'22' + '55' # concatenate

In [ ]:
"Mihir" + "Chakma"

In [ ]:
# 2 + '2' # error 
2 + int('2') # this is ok, becz we convert str into int

In [ ]:
2.0 * 2

In [ ]:
2 * 4

In [ ]:
"Advaith" * 3

▶ **Function Level Polymorphism**

- Here are same functions behaves differently

In [ ]:
# len()
# sum()
# custom

In [ ]:
l = [1, 2, 3, 4]

In [ ]:
len(l)

In [ ]:
len("Advaith")

In [ ]:
# len(234)

In [ ]:
# sum(2345)

In [ ]:
def mul(*args):
    total = 1
    for i in args:
        total *= i

    return total

In [ ]:
mul(2, 4, 6)

In [ ]:
class Human:
    def speak(self, language):
        print('I speak', language)

In [ ]:
h1 = Human()
h2 = Human()
h3 = Human()

In [ ]:
h1.speak("Chakma")

In [ ]:
h2.speak("English")

In [ ]:
h3.speak("Sinhala")

In [ ]:
h1.speak("Hindi")

In [ ]:
h2.speak("Korean")

## **15. File Handling in Python**

▶ **Intro to File-Handling in Python**

- A file is a container in a computer system for storing data
- Data is permanently stored


**Types of files**

- Text
- Binary

**Opening a file**

- open() : returns a file handle
- In order to perform any kind of operations on file first we open it

In [ ]:
# create a file "name.txt"

In [ ]:
f = open("name.txt")

In [ ]:
type(f)

In [ ]:
f.read()

In [ ]:
f.close()

In [ ]:
f.closed

▶ **File Operations in Python**


**Modes of opening a file**

- `r` : read only
- `w` : write only
- `a` : appending data at the end of the file
- `wt` : write text
- `wb` : write binary
- `rb` : read binary
- `rt` : read text

In [ ]:
# create a file "name.txt"

In [ ]:
f = open("name.txt", "w")

In [ ]:
f.write("I am learning Python")

In [ ]:
f.close()

In [ ]:
f.read()

▶ **With Open a File**

- Most common way to perform operation on files
- It closes the file after performing operations

In [ ]:
with open("name.txt") as f:
    print(f.read())

In [ ]:
f.closed

In [ ]:
with open("name.txt", "w") as f:
    f.write("Hi, I just write a text.")

▶ **Writing in a File**

- You can write both text and binary file
- You can either write or append in a file

In [ ]:
# we are creating new file here 

with open("new.txt", "w") as f:
    f.write("Hi, new file created")

In [ ]:
with open("new.txt", "w") as f:
    f.write("This is updated content of our file \n")
    f.write("This is new file line \n")

▶ **Reading a File**

- Using read() method, we can read a file
- It opens in read only format

In [ ]:
with open("new.txt", "r") as f:
    data = f.read()
    print(data)

 - `read()` : reads the whole data
 - `read(l)`: reads data of length l
 - `tell()`: tells you about the position of file handle
 - `seek()` : it helps to re-position your file handle
 - `readlines()` : reads data line by line

In [ ]:
with open("new.txt", "r") as f:

    # reading first 4 chars
    data = f.read(4)
    print(data)

    print(f.tell())

    # next 10 chars
    data = f.read(10)
    print(data)

    # tell : tell you the position of your file handle
    print(f.tell())

    # using seek you can reset your file handler
    # f.seek(2)
    f.seek(0)
    print(f.tell())

    print(f.read())

In [ ]:
# readlines()
with open("new.txt", "r") as f:
    # read all the lines
    data = f.readlines()
    # print(data)

    # read line by line 
    # data = f.readline()
    # print(data)

    for i in data:
        print(i)

▶ **Handling Binary File**


**Binary Data**

- To read binary data we open file in "rb" mode
- To write binary data we open file in "wb" mode

In [ ]:
with open("myphoto.png", "rb") as f:
    data = f.read()
    # print(data)

    with open("photo.png", "wb") as d:
        d.write(data)

▶ **Appending in a File**

- This mode help us to append in a file

In [ ]:
with open("name.txt", "a") as f:
    f.write("This is appended data.\n")

## **16. Error & Exception Handling**

▶ **Intro to Errors & Exception in Python**

- When we write a faulty code the execution of program may stop due to the errors
- There can be some places where executions can be caused
- Errors are caused by wrong syntax
- Exceptions are logic based wherein syntax is right but logic isn't. Ex: Zero division

**Examples of errors**

- Syntax Error
- NameError
- TypeError
- File not found
- IndentationError
- ZeroDivisionError

In [ ]:
# if :

In [ ]:
# print(a)

In [ ]:
# 2 + "2"

In [ ]:
# def sum():
# print("Hello")

In [ ]:
# 5/0

In [ ]:
print(dir(__builtins__)) # show all error lists

▶ **Try & Except**

- `try` : This block handles the error in your code if any of it exists
- `except` : This block gives the output that you want to show if your code is faulty

In [ ]:
a = 10
b = 0
# b = 3

try:
    print( a / b)
except:
    print("There is an error in your program. Please, check again before running it.")


print("Hello, World!")

There is an error in your program. Please, check again before running it.
Hello, World!

▶ **Except block**

- You can tell the what kind of error using **Exception**

In [ ]:
a = 10
b = 0

try:
    print(a / b)
except Exception as e:
    print("Error :", e)

print("Hi, Mihir")

Error : division by zero
Hi, Mihir

▶ **Finally in Python**

- This block will be executed in any case
- It is helpful when you want to de-allocate resources
- Like closing a file or db connection

In [ ]:
a = 10
b = 0

try:
    print('Open file.')
    print(a / b)
except Exception as e:
    print('Error:', e)
finally:
    print('Close file.')

Open file.
Error: division by zero
Close file.

In [ ]:
a = 10
b = 5

try:
    print('Open file.')
    print(a / b)
except Exception as e:
    print('Error:', e)
finally:
    print('Close file.')

Open file.
2.0
Close file.